#header {
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}
img {
    height: 200px;
    width: 200px;
    margin: 10px;
    border-image: linear-gradient(45deg, rgba(19, 214, 107, 0.623), rgba(52, 132, 206, 0.61), 
    rgba(110,0,255,.8)) 1;
}
h4 {
    color:rgba(52, 88, 206, 0.863)
}

